

.card-container {
    background-color: #ffe9ce;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 25px;
    cursor: pointer;
    width: 10em;
    margin: 10px;
}

.card-container:hover {
    transform: scale(1.05);
  }

  p {
    font-size: 1.25em;
    word-wrap: break-word;
  }